@import "tailwindcss";

@theme {
  --color-primaryGreen: #00A651;
  --color-darkGreen: #1F4D2B;
  --color-charcoal: #111111;
  --color-lightGray: #F4F4F4;
  --color-pureWhite: #FFFFFF;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
